<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <% if @ratings.count > 0 %>
            <dt>Rating:</dt>
            <dd><%= @avgRating %>/5</dd>
          <% end %>
        </dl>
      </div>
      <div class="row">
      <div class="col-sm-10">
        <dl class="dl-horizontal">
        <% if @current_user %>
          <%= form_for [@product, @rating] do |form| %>

          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group give_review">
          <h3> What did you think? </h3>
            <%= form.label :rating %>
           <%= form.select :rating, options_for_select([1,2,3,4,5]) %>
          </div>

          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>

          <%= form.submit 'Review Product', class: 'btn btn-primary' %>
         <% end %>
        <% end %>
        </div>
    </div>
    </div>

      <div class="reviews col-sm-12">
        <dl class="dl-horizontal">
          <% if @ratings.count > 0 %>
            <h3> Reviews </h3>
            <% @ratings.reverse_each do |rating| %>
              <div class ="review">
                <dd><h4><strong><%= rating.user.name %></strong> thought that this product was...</h4></dd>
                <dt><%= rating.rating %>/5</dt>
                <dd><%= rating.description %></dd>
                <dd><%= rating.created_at.strftime('%F') %></dd>
                <% if rating.user == @current_user %>
                    <dd><a href="/products/<%= @product.id %> /ratings/<%= rating.id %>" data-method='delete'> Delete Comment</a></dd>
                <% end %>
            <div>
              <br>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>

  </article>

</section>
